body {
    font-family: Arial, sans-serif;
}

.jatekter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.jatekter .mezo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jatekter .mezo img {
    max-width: 80%;
    max-height: 80%;
}
